@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}


.background {
  background-image: url('../assets/bg1.png'), url('../assets/bg2.png');  
  background-repeat: no-repeat;
  background-attachment:fixed; 
  background-size: 100% 100%;
}


@media screen and (min-height:760px) {
  .background{
    height: 100vh;
  }
}

.underline-text {
  text-decoration: none; 
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
}


.underline-text:after{
  content: '';
  height: 2px;
  bottom: 0px; 
  margin: 5px auto;
  left: 0;
  right: 0;
  width: 50%;
  background: #4A3AFF;
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

input{
  font-size:16px;
}

::placeholder{
  font-size: 1rem;
}

button:disabled{
  cursor: not-allowed;
  opacity: 0.2;
}